{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    {% if current_user.is_admin %}

        <h3>Review data for <strong>Game: {{user.game_id}}</strong></h3>
        {% for period in periods%}
            <strong>User: {{user.id}}</strong>
            <strong>Period:{{period.period_number}}</strong>
            <strong>Product:{{period.product_id}}</strong>
            <p><a href="/game/{{user.game_id}}/user/{{user.id}}/product/{{period.product_id}}">
               Потвърти входни данни за - Игра ID:{{user.game_id}} Ирач:{{user.username}} {{user.display_name}}
                Продукт: {{period.product_id}}</a></p>
            <p><a href="/confirm/game/{{user.game_id}}/user/{{user.id}}/product/{{period.product_id}}">
                Потвърди изходни данни за - Игра ID:{{user.game_id}} Ирач:{{user.username}} {{user.display_name}}
                Продукт: {{period.product_id}}
            </a></p>
        {% endfor %}
    {% else %}
        <p>Team: {{user.username}}</p>
        <p>USER ID : {{user.id}}</p>
        {% for product in products%}
            <p><a href="/current_period/{{product.id}}">
                Въведете данни за продукт: {{product.name}}</a></p>
        {% endfor %}
    {% endif %}

{% endblock %}
