{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    {% if current_user.is_admin %}
        <h3>Review data for <strong>Game: {{user.game_id}}</strong>
            <strong>User: {{user.display_name}} ID: {{user.id}}</strong>
            <strong>Period:{{period.period_number}}</strong>
            <strong>Продукт:{{product.name}}</strong></h3>
    {% else %}
        <p>Отбор: {{user.display_name}}</p>
        <p>Разполагаеми средства: {{period_total.money_total_begining_of_period}}</p>
        <p>Кредит: {{period_total.credit_total}}</p>
        <p>Овърдрафт: {{period_total.overdraft_total}}</p>
        <hr>
        <h4>Данни за период: {{period_total.period_number}}</h4>
    {% endif %}
    <hr>
    <h4>Данни за продукт: {{product.name}}</h4>
    <hr>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

{% endblock %}
