{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    {% if current_user.is_admin %}
    <h3>Review data for <strong>Game: {{user.game_id}}</strong></h3>
            <strong>User: {{user.display_name}} ID: {{user.id}}</strong>
            <strong>Period:{{period_total.period_number}}</strong>
    {% else %}
        <p>Отбор {{user.display_name}}</p>
    {% endif %}
    <hr>

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

{% endblock %}
