{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    {% if current_user.is_admin %}
        <h3>Review data for <strong>Game: {{user.game_id}}</strong> <strong>User: {{user.id}}</strong> <strong>Period:{{period.period_number}}</strong></h3>
    {% else %}
        <p>Team: {{user.username}}</p>
        <p>USER ID : {{user.id}}</p>

        <p><a href="/current_period/1">Въведете данни за продукт: А</a></p>
        <p><a href="/current_period/2">Въведете данни за продукт: B</a></p>
        <p><a href="/current_period/3">Въведете данни за продукт: C</a></p>
    {% endif %}

{% endblock %}
