{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    {% if current_user.is_admin %}
        <h3>Review data for <strong>Game: {{user.game_id}}</strong>
            <strong>User: {{user.display_name}} ID: {{user.id}}</strong>
            <strong>Period:{{period.period_number}}</strong>
            <strong>Продукт:{{product.name}}</strong></h3>
    {% else %}
        <p>Team: {{user.display_name}}</p>
        <p>Available funds: {{period_total.money_total_begining_of_period}}</p>
        <p>Credit: {{period_total.credit_total}}</p>
        <p>Overdraft: {{period_total.overdraft_total}}</p>
        <hr>
        <h4>Period: {{period_total.period_number}}</h4>
    {% endif %}
    <hr>
    <h4>Data for product: {{product.name}}</h4>
    <hr>
    <p>Stock availability: {{period.products_in_stock_beginning_of_period}}</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

{% endblock %}
