
    <p class="MsoNormal" style="margin-bottom:0cm;line-height:normal" align="center">
    <span style="font-family: Arial; font-weight: 700"><font size="6">MANAGEMENT
    GAME</font></span></p>
    <p class="MsoNormal" style="margin-bottom:0cm;line-height:normal" align="center">
    <span style="font-family: Arial; font-weight: 700"><font size="6">&nbsp;</font></span></p>
    <p class="MsoNormal" style="margin-bottom:0cm;line-height:normal" align="center">
    <span style="font-family: Arial; font-weight: 700"><font size="6">&quot;BULGARIAN
    YOGURT&quot;</font></span></p>
    <hr><p>

    <b>

    <a href="https://www.facebook.com/groups/502926693178771/"><font size="4">Marchev & Marchev and their brilliant students...
    </font> </a>
    </b>
    <p>

    <b>
    <a href="https://docs.google.com/spreadsheets/d/1ISBzV4ImpRqRx7cPj0hQ9AmYMSiKlKHp_ZZXU-K2BBs/edit#gid=0">
    <font size="4">Board of directors official register... </font> </a>

    </b>

    <hr>
    <p class="col-lg-12">
    <a class="twitter-timeline" data-width="800" data-height="800" data-widget-id="434214432046989313" href="https://twitter.com/MarchevGames">Tweets by @MarchevGames</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=339677300&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=976212411&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=1752921793&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=260597222&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=1163252480&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=1775828329&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe height=800 width=800 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_OSek9fPfgavQJ7OemgeD2-n13KYtHclULtAGdofN9tnFlutU55Jgqz89iMkhh8BVTLlhrFLe5ru0/pubhtml?gid=622429615&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

    </p>
