{% extends "base.html" %}
{% block app_content %}
    {% for game in games %}

        <p> Game id - {{game.id}}  </p>
        <p> Current period - {{game.current_period}}  </p>
        <h6><a href="/confirm_current_period/game/{{game.id}}">
            Final Confirm Period Results for period - {{game.current_period}}</a></h6>
        <hr>
        {% for player in game.players %}
                <a href="/game/{{game.id}}/user/{{player.id}}">
                    View Game for <strong>player id: {{player.id}}
                    Team: {{player.username}} Name:{{player.display_name}}</strong>
                </a>
                <hr>
        {% endfor %}

    {% endfor %}
    <hr>
    <a href="{{ url_for('calculate_period_results') }}"><h3>Calculate Period Results</h3></a>
{% endblock %}
