{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    {% if previous_period_total %}
        <h2>Period {{previous_period_total.period_number}} Team {{user.username}}</h2>
        <table class="table table-striped table-hover" id="meow">
            <thead>
              <tr>
                <th scope="col">#</th>
                    <th scope="col">Regular/Обикновено</th>
                    <th scope="col">Wellness/Уелнес</th>
                    <th scope="col">Luxury/Лукс</th>
                    <th scope="col">Total/Тотал</th>
              </tr>
          </thead>
                <tr>
                    <td>Income / Приходи</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.income_from_sells}}</td>
                    {% endfor %}
                    <td></td>
                </tr>

                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td><strong>Production costs / Производствени разходи</strong></td><td></td><td></td><td></td><td></td></tr>

                <tr>
                    <td>Labor / Труд</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.labor_costs}}</td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <td>Materials / Материали</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.material_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Total production costs / Общо производствени разходи</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.total_production_cost}}</td>
                    {% endfor %}
                <td></td></tr>

                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr>
                    <td>Gross profit / Брутна печалба</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.gross_proffit}}</td>
                    {% endfor %}
                <td></td></tr>

                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td><strong>Non-production costs / Непроизводствени разходи</strong></td><td></td><td></td><td></td><td></td></tr>

                <tr>
                    <td>Marketing costs / Разходи за маркетинг</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.marketing_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>R & D costs / Разходи за развойна дейност</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.research_and_development_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Transport costs / Транспортни разходи</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.transport_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Storage costs / Складови разходи</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.storage_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Administrative costs / Административни разходи</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.administrative_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Marketing research costs / Разходи за проучвания</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.marketing_research_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Intrest costs / Разходи за лихви</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.interest_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Other costs / Други разходи</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.other_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Total non-production costs / Общо непроизводствени разходи</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.total_non_production_costs}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Net profit / Нетна печалба</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.net_proffit}}</td>
                    {% endfor %}
                <td></td></tr>

                <tr>
                    <td>Accumulated profit / Натрупана печалба до момента</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.accumulated_proffit}}</td>
                    {% endfor %}
                <td></td></tr>

                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td><strong>Quantity / Количества</strong></td><td></td><td></td><td></td><td></td></tr>

                <tr>
                    <td>Sales / Продажби</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.total_sells}}</td>
                    {% endfor %}
                <td></td></tr>
                <tr>
                    <td>Left in storage / Останали на склад</td>
                    {% for period in periods|sort(attribute='id') %}
                        <td>{{period.products_in_stock_end_of_period}}</td>
                    {% endfor %}
                <td></td></tr>
        </table>

         <table class="table table-striped table-hover">
            <thead>
              <tr>
                    <th scope="col">Finance / Финансиране</th>
                    <th scope="col"></th>
              </tr>
          </thead>
                <tr>
                    <td>Repayed loan or Deposit /
                        Изплатен кредит или направен депозит</td>
                    <td>{{previous_period_total.take_credit}}</td>
                </tr>
                <tr>
                    <td>Available funds / Разполагаеми средства</td>
                    <td>{{new_period_total.money_total_begining_of_period}}</td>
                </tr>
                <tr>
                    <td>Credit or deposit / Кредит или депозит</td>
                    <td>{{new_period_total.credit_total}}</td>
                </tr>
             <tr>
                    <td>Overdraft / Овърдрафт</td>
                    <td>{{new_period_total.overdraft_total}}</td>
                </tr>
         </table>
    {% endif %}
<script>
            var table = document.getElementById("meow");
            for(var i = 1; i < table.rows.length; i++)
            {    if (!isNaN(parseFloat(table.rows[i].cells[1].innerHTML))
            | !isNaN(parseFloat(table.rows[i].cells[2].innerHTML))
            | !isNaN(parseFloat(table.rows[i].cells[3].innerHTML))){
                table.rows[i].cells[4].innerHTML = parseFloat(table.rows[i].cells[1].innerHTML)
                + parseFloat(table.rows[i].cells[2].innerHTML) + parseFloat(table.rows[i].cells[3].innerHTML)}}
</script>
{% endblock %}
